Repository openstack-k8s-operators/neutron-operator: changes, and which Zuul jobs are due for each by the changed paths.
All: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Path conditions:
  cifmw-podified-multinode-edpm-base-crc-future: unless all of: .*/*.md, ^.github/.*$, ^LICENSE$, ^OWNERS$, ^OWNERS_ALIASES$, ^PROJECT$, ^README.md$, ^renovate.json$, ^kuttl-test.yaml$, molecule/.*, molecule-requirements.txt, .github/workflows, docs/.*, contribute/.*, roles/.*/molecule/.*, .readthedocs.yaml, roles/dlrn_report, roles/dlrn_promote, roles/devscripts, containers/ci, .ci-operator.yaml, .dockerignore, .gitignore, .golangci.yaml, .pre-commit-config.yaml, tests?\/functional, examples, mkdocs.yml
  podified-multinode-edpm-deployment-crc-future: unless all of: .*/*.md, ^.github/.*$, ^LICENSE$, ^OWNERS$, ^OWNERS_ALIASES$, ^PROJECT$, ^README.md$, ^renovate.json$, ^kuttl-test.yaml$, molecule/.*, molecule-requirements.txt, .github/workflows, docs/.*, contribute/.*, roles/.*/molecule/.*, .readthedocs.yaml, roles/dlrn_report, roles/dlrn_promote, roles/devscripts, containers/ci, .ci-operator.yaml, .dockerignore, .gitignore, .golangci.yaml, .pre-commit-config.yaml, tests?\/functional, examples, mkdocs.yml
  neutron-operator-tempest-multinode: unless all of: .*/*.md, ^.github/.*$, .ci-operator.yaml, .dockerignore, .gitignore, .golangci.yaml, .pre-commit-config.yaml, .prow_ci.env, ^LICENSE.*$, ^OWNERS$, ^OWNERS_ALIASES$, ^PROJECT$, .*go.(mod|sum|work).*, ^kuttl-test.yaml$, ^renovate.json$, ^config/samples/.*$, ^docs?/.*, ^hack/.*$, ^tests?/functional/.*$, ^tests?/kuttl/.*$, ^zuul.d/(?!(project)).*\.yaml

Switch to tempest role for running tempest
  zuul.d/jobs.yaml
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

[DNM] Test centralized FIPs
  templates/neutronapi/config/01-neutron.conf
  zuul.d/jobs.yaml
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Update openstack-k8s-operators
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Check Deployment ObservedGeneration to set DeploymentReadyCondition
  controllers/neutronapi_controller.go
  test/functional/neutronapi_controller_test.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Fix ObsGen condition
  controllers/neutronapi_controller.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Update k8s.io to v0.28.9
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Update module github.com/onsi/gomega to v1.33.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

[tlse] Ensure input readiness reported after all certificates are ready
  controllers/neutronapi_controller.go
  test/functional/neutronapi_controller_test.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Ensure golangci-lint runs on all files
  .pre-commit-config.yaml
  controllers/neutronapi_controller.go
  pkg/neutronapi/const.go
  pkg/neutronapi/scc.go
  test/functional/base_test.go
  test/functional/neutronapi_controller_test.go
  test/functional/suite_test.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Update module github.com/onsi/ginkgo/v2 to v2.17.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Update k8s.io/utils digest to 0849a56
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Update openstack-k8s-operators
  api/go.mod
  api/go.sum
  controllers/neutronapi_controller.go
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Use tls for cache if supported
  controllers/neutronapi_controller.go
  templates/neutronapi/config/01-neutron.conf
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Update openstack-k8s-operators
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

o[pre-commit][kuttl]Check for multiple TestAsserts
  .pre-commit-config.yaml
Due: none

style: Uncapitalize error messages
  controllers/neutronapi_controller.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

style: Remove unnecessary context.Background()
  controllers/neutronapi_controller.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

style: Flip if-else order where it saves indent
  controllers/neutronapi_controller.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

style: Remove unnecessary variable with naked return
  api/v1beta1/neutronapi_webhook.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Set fips-compliant CRD feature flag
  config/manifests/bases/neutron-operator.clusterserviceversion.yaml
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Check for valid service override endpoint type on create and update
  api/go.mod
  api/go.sum
  api/v1beta1/neutronapi_webhook.go
  go.mod
  go.sum
  test/functional/neutronapi_controller_test.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Update k8s.io
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Update module github.com/go-logr/logr to v1.4.2
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Update module github.com/onsi/gomega to v1.33.1
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

fix(deps): update module sigs.k8s.io/controller-runtime to v0.16.6
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

fix(deps): update module github.com/onsi/ginkgo/v2 to v2.19.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

fix(deps): update openstack-k8s-operators
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

style: capitalize `OVN` in variable names and elsewhere
  controllers/neutronapi_controller.go
  test/functional/base_test.go
  test/functional/neutronapi_controller_test.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

update CSV with generated content
  config/manifests/bases/neutron-operator.clusterserviceversion.yaml
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

Add make bundle to pre-commit
  .pre-commit-config.yaml
Due: none

fix(deps): update k8s.io to v0.28.11
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

update finalzier to CRD doc
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  test/functional/neutronapi_controller_test.go
  test/kuttl/common/assert_sample_deployment.yaml
  test/kuttl/common/errors_cleanup_neutron.yaml
  test/kuttl/tests/neutron_scale/02-assert.yaml
  test/kuttl/tests/neutron_scale/03-assert.yaml
  test/kuttl/tests/neutron_scale/04-assert.yaml
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

Add missing bits for DefaultConfigOverwrite
  api/bases/neutron.openstack.org_neutronapis.yaml
  api/v1beta1/neutronapi_types.go
  api/v1beta1/neutronapi_webhook.go
  config/crd/bases/neutron.openstack.org_neutronapis.yaml
  controllers/neutronapi_controller.go
  templates/neutronapi/config/01-neutron.conf
  templates/neutronapi/config/neutron-api-config.json
  test/functional/neutronapi_controller_test.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode

fix(deps): update openstack-k8s-operators
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

fix(deps): update github.com/openstack-k8s-operators/keystone-operator/api digest to c19b571
  go.mod
  go.sum
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future

DNM Just testing together change in the operator and u/s code
  controllers/neutronapi_controller.go
Due: cifmw-podified-multinode-edpm-base-crc-future, podified-multinode-edpm-deployment-crc-future, neutron-operator-tempest-multinode
